*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    width: 100wx;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}
.menu_text{
    background: none;
}

h2{
    font-size: 6em;
    font-weight: 600;
    color:#222;
    letter-spacing: 5px;
    cursor: pointer;
    
    transition: 0.5s;
}
h2:hover{
    background: none;
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;
}